pip install discord
pip install Pillow
pip install blagues_api
pip install importlib
sudo apt install ttf-mscorefonts-installer
sudo fc-cache
fc-match Arial
pip install gTTS pyttsx3
pip install playsound==1.2.2
